.underline-button {
    -fx-background-color: transparent;
    -fx-underline: true;
}

.underline-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1); /* Optional: Add a hover effect */
}

/* ******************** */
.navbar_admin{
    -fx-background-color: #ffffff; /*  Change background color on hover */
}

.submit_button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
}

.submit_button:hover {
    -fx-background-color: lightgray; /* Change to the desired hover color */
}

/* ***********image browse********* */

.browseButton {
    -fx-background-color: #696666;
    -fx-text-fill: white;
}

.browseButton:hover {
    -fx-background-color: darkgray; /* Change to the desired hover color */
}


.form-container {
    -fx-background-color: #f4f4f4;
    -fx-padding: 20px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.form-title {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.exposition-details-label {
    -fx-font-size: 14;
}

.text-field {
    -fx-pref-width: 200px;
}

.submit-button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-font-size: 14;
    -fx-border-radius: 5px;
}

.submit-button:hover {
    -fx-background-color: #45a049; /* Darker green on hover */
}

.exhibition-container {
    -fx-padding: 10px;
}

.exhibition-box {
    -fx-border-radius: 10px;
    -fx-border-color: #a8a0a0; /* Border color */
    -fx-border-width: 2px;
    -fx-background-color: #ecf0f1; /* Background color */
    -fx-padding: 10px;
}




